<div class="container">

	<div class="row">

		<p>Bienvenue dans votre espace administrateur (utilisateur n°<%= @admin.id%>)</p>
		
	</div>
	
<table id="users">
			  <tr>
			    <th>Id</th>
			    <th>Email</th>
			    <th>Is_admin</th>
			    <th>Created at</th>
			  </tr>
		<% @all_users.each do |user| %>
			  <tr>
			    <th><%= user.id %></th>
			    <th><%= user.email %></th>
			    <th><%= user.is_admin %></th>
			    <th><%= user.created_at %></th>
			  </tr>
		<% end %>
</table>

</div>