<div class="container d-flex flex-column align-items-center mt-4">
	<h1>Mon Profil</h1>

	<div class="row d-flex justify-content-center align-items-center mt-4 mb-4">

		<div class="col-md-4">
			<%if @user.profil_picture.attached?%>
			<%= image_tag @user.profil_picture, alt: 'profil_picture', style:"width: 100%;" %>
			<%else%>
			<%= form_tag user_profil_pictures_path(@user), multipart: true do %>
			<%= file_field_tag :profil_picture %>
			<%= submit_tag "mettre à jour" %>
			<% end %>
			<%end%>
		</div>

		<div class="col-md-6 d-flex flex-column align-content-around">
			
			<div class="row d-flex justify-content-around">
				
				<div class="col-md-6 text-center">
					<h3>Prénom</h3>
				</div>

				<div class="col-md-6 text-center">
					<h3>Nom</h3>
				</div>

			</div>
			<br/>
			<div class="row d-flex justify-content-center">
				<h3><%=@user.email%></h3>
			</div>
			<br/>
			<div class="row d-flex justify-content-center text-center">
				<a href="<%=edit_user_registration_path(@user.id)%>" class="form-control btn-primary" style="width: 50%;">Modifier mon profil</a>
			</div>


		</div>

	</div>



	<div class="row mt-4 d-flex justify-content-center">
		<h2>Mes commandes précédentes</h2>

		<div class="col-md-10">

			<div class="row">
				<% @user.purchased_items.each do |item|%>
				<div class= "col-sm-6 col-md-4">
					<div class="card index mb-3 mt-3">
						<h3 class="card-header"><%= item.title %></h3>
						<img src="<%= item.image_url %>" alt="<%= item.title %>">
						<div class="card-body price">
							Prix&nbsp;: <%= item.price %> €
						</div>
						<div class="card-body button">
							<a href="<%= item_path(item.id) %>" class="card-link btn btn-info"><i class="fas fa-cat"></i> En savoir plus</a>
							<a href="#" class="card-link btn btn-success"><i class="fas fa-cart-plus"></i> Acheter à nouveau</a>
						</div>
					</div>
				</div>
				<% end %>
			</div>

		</div>


	</div>


</div>