<div class="container d-flex flex-column align-items-center mt-4">
	<h1>Mon Profil</h1>

	<div class="row d-flex justify-content-center align-items-center mt-4 mb-4">

		<div class="col-md-4">
			<%if @user.profil_picture.attached?%>
				<%= image_tag @user.profil_picture, alt: 'profil_picture', style:"width: 100%;" %>
			<%else%>
				<%= form_tag user_profil_pictures_path(@user), multipart: true do %>
					<%= file_field_tag :profil_picture, class: "btn btn-outline-secondary" %>
					<%= submit_tag "Mettre à jour", class: "btn btn-outline-info" %>
				<% end %>
			<%end%>
		</div>

		<div class="col-md-6 offset-md-1 d-flex flex-column align-content-around">
			<div class="row d-flex justify-content-center">
				<h3><%=@user.email%></h3>
			</div>
			<br/>
			<div class="row d-flex justify-content-center text-center">
				<a href="<%=edit_user_registration_path%>" class="form-control btn-primary" style="width: 50%;">Modifier mon profil</a>
			</div>


		</div>

	</div>



	<div id="orders" class="text-center">
		<h2>Mes commandes précédentes</h2>
		<div class="row">
			<% unless @user.orders.empty? %>
				<%= render 'orders', orders: @user.orders%>
			<% else %>
				<p>Vous n'avez encore passé aucune commande.</p>
			<% end %>
		</div>
	</div>
</div>