<div class = "container d-flex justify-content-center text-center">
  <div class="col-md-5 mt-5">
    <h2>Oublié votre mot de passe ?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mt-5 mb-3">
        <%= f.label :email, class: "mr-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Envoyez-moi les instructions", class: "btn btn-primary form-control" %>
      </div>
    <% end %>

    <p class="mt-4"><%= render "devise/shared/links" %></p>
  </div>
</div>
