<div class="container">
	<h1 class="text-center mt-5 mb-5">Bienvenue sur votre panier</h1>
	<div class="row">
		<% current_user.potential_items.each do |item|%>
		<%= render "item", item: item %>
		<% end %>
	</div>

	<% if current_user.potential_items.length > 0 %>
		<div class="d-flex justify-content-center">
			<%= form_tag orders_path, class:"p-4 border border-primary d-flex flex-column" do %>
			<article class="text-center">
				<% if flash[:error].present? %>
					<div id="error_explanation">
						<p><%= flash[:error] %></p>
					</div>
				<% end %>
				<label class="amount">
					<span style="font-size: 25px;">
						Total :
						<%= number_to_currency(
							@cart_price,
							unit: "€",
							separator: ",",
							delimiter: " ",
							format: "%n %u"
						) %>
					</span>
				</label>
			</article>

			<script src="https://checkout.stripe.com/checkout.js"
				class="stripe-button"
				data-label="Payer"
				data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				data-description="Commandes"
				data-amount="<%=@cart_price*100%>"
				data-locale="auto"
				data-currency="eur">
			</script>
			<%end%>
		</div>

	<% else %>
	<div class="d-flex justify-content-center text-center">
		<p style="font-size: 30px; margin-top: 10%;">Votre panier est vide</p>
	</div>
	<% end %>
</div>
