<div class = "container d-flex justify-content-center">
  <div class="col-md-5 mt-5">
    <h1 class="mb-2 text-center">Se connecter</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password, "Mot de passe" %>
      <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
    </div>
    <% if devise_mapping.rememberable? %>
    <div class="field">
     <%= f.check_box :remember_me %>
     <%= f.label :remember_me, "Se souvenir de moi" %>
   </div>
   <% end %>

   <%= f.submit "Se connecter", class:"btn btn-primary form-control mt-2" %>
   <% end %>
   <p class="mt-4 text-center"><%= render "devise/shared/links" %></p>
 </div>
</div>
