<div id="photo<%= item.id %>" class= "col-sm-6 col-md-4">
    <div class="card index mb-3 mt-3">
        <h3 class="card-header"><%= item.title %></h3>
        <img src="<%= item.image_url %>" alt="<%= item.title %>">
        <div class="card-body price">
            Prix&nbsp;: <%= item.price %> €
        </div>
        <div class="card-body buttons">
            <a href="<%= item_path(item.id) %>" class="card-link btn btn-info"><i class="fas fa-cat"></i> En savoir plus</a>
            <% if user_signed_in? %>
            <% if current_user.cart.items.include?(item)%>
            <a class="card-link btn btn-success" disabled><i class="fas fa-cart-plus"></i> Déjà dans le panier !</a>
            <%else%>
            <a href="<%= cart_path(current_user.cart.id, :item_id => item.id) %>" data-method="put" class="card-link btn btn-success"><i class="fas fa-cart-plus"></i> Ajouter au panier</a>
            <%end%>
            <% else %>
            <a href="<%= new_user_session_path %>" class="card-link btn btn-success"><i class="fas fa-cart-plus"></i> Ajouter au panier</a>
            <% end %>

        </div>
    </div>
</div>
