<%= render "banner" %>
<div id="catalogue" class="container">

<div class="dropdown">
	<select id="category_id_choose" name="category_id_choose" class="btn btn-secondary dropdown-toggle" remote: true>
		<option value="0">Toutes les catégories</option>
		  <% @categories.each do |category| %>
      <!--<a href="<%=items_path(:category => category.id)%>" data-method="put">
  			<option value="<%= category.id%>"><%= category.title%></option></a>-->
        <option class="dropdown-item" value="card_cat<%= category.id%>"><%= category.title%></option>
  		  <% end %>
	</select>
</div>
    <div id="item_list" class="row">
    <% @items.each do |item|%>
    <%= render "item", item: item %>
    <% end %>
    </div>

</div>


<script type="text/javascript">


// 1. Find and sotre the element we want to listen to events on.
// 1. trouvé et enregistré l’élément sur lequel on veut qu’il l’on verifie si il y a un événement dessus
  var category_id_choose = document.getElementById('category_id_choose');
// 2. define the function that will respond to the event
//  2. definir la fonction qui va répondre à l’événement ci-dessus.


  var onchange = function(row) {
    var categ = category_id_choose.value
		console.log(categ)
    document.querySelectorAll(".col-sm-6.col-md-4").forEach((card) => card.style.display = "none");
    if(categ==0){
      document.querySelectorAll(".col-sm-6.col-md-4").forEach((card) => card.style.display = "initial");
    }else {
      document.getElementsByName(categ).forEach((card) => card.style.display = "initial")
    }
  };


// 3. add the event listener for the elements and function
// 3. on ajoute à l’eventlistener l’événement voulu et la fonction demandée.

category_id_choose.addEventListener('change', onchange);
</script>
