<div class="container">

  <div class="row d-flex justify-content-center mb-5 mt-5">
    <img style="max-width: 100%; height: 600px;" src="<%=@item.image_url%>">
  </div>


  <div class="row d-flex justify-content-center">
    <div class="col-md-6 d-flex flex-column align-items-center">
      <h2><%= @item.title%></h2>
      <p class="mt-2"><%=@item.description%></p>
      <p><a href="<%= root_path %>#photo<%= @item.id %>" class="btn btn-primary"><i class="fas fa-cat"></i>Retour au catalogue</a></p>
    </div>
    <div class="col-md-3 d-flex flex-column align-items-center border-left border-primary">
      <h3>Price</h3>
      <p class="mt-4">
        <%= number_to_currency(
            @item.price,
            unit: "€",
            separator: ",",
            delimiter: " ",
            format: "%n %u"
        ) %>
      </p>

      <% if user_signed_in? %>
        <% if current_user.cart.items.include?(@item)%>
          <a class ="card-link btn btn-success" disabled><i class="fas fa-cart-plus"></i> Déjà dans le panier !</a>
        <%else%>
          <a href="<%= cart_path(@item.title) %>" data-method="put" class="card-link btn btn-success"><i class="fas fa-cart-plus"></i> Ajouter au panier</a>
        <%end%>
      <% else %>
        <a href="<%= new_user_session_path %>" class="card-link btn btn-success"><i class="fas fa-cart-plus"></i> Ajouter au panier</a>
      <% end %>
    </div>
  </div>

  <div class="row d-flex justify-content-center mt-3">
    <small>Created the <%=@item.created_at%></small>
  </div>
</div>
